:root {
  --clr-primary-900: #040d20;
  --clr-primary-500: #08193e;
  --clr-neutral-100: #fff;
  --clr-accent-300: #64ffda;

  --ff-primary: 'Open Sans', sans-serif;
  --ff-accent: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  background-color: var(--clr-primary-900);
  color: var(--clr-neutral-100);
}

h1,
h2 {
  font-family: var(--ff-accent);
  font-weight: 400;
  line-height: 1;
}

h3,
h4,
h5 {
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
}
h1 {
  font-size: 300%;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 175%;
}
h4 {
  font-size: 150%;
}
h5 {
  font-size: 125%;
}

h1,
h2 {
  margin-bottom: 0.5em;
}
h3,
h4,
p {
  margin-bottom: 1em;
}
h3,
h4 {
  margin-top: 1em;
  margin-bottom: 1em;
}
h3:after {
  display: block;
  height: 2px;
  background-color: #383838;
  content: ' ';
  width: 200px;
  margin-top: 0.5em;
}

section {
  padding: 75px 0;
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
  margin-bottom: 2em;
}

#hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80')
      center center fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

nav {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

nav a {
  margin: 10px 20px;
}

.full-viewheight {
  height: 100vh;
}
.hero-text {
  position: absolute;
  top: 25vh;
}

@media (min-width: 40em) {
  section {
    padding: 150px 0;
  }
}

.container {
  width: min(90%, 1128px);
  margin-inline: auto;
}

.linkSkills,
.linkSkills:visited {
  border: 1px solid #64ffda;
  color: #64ffda;
  border-radius: 5px;
  padding: 0.75rem 2rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.linkSkills:hover {
  border: 1px solid #c1fff12a;
  background: #2cffce6c;
  outline: #64ffda;
  cursor: pointer;
}

.split {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-col {
  width: 150px;
}
.icons-large {
  font-size: 300%;
  padding-bottom: 1em;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.project-details {
  line-height: 1;
}
.contact-icons {
  justify-content: center;
}
.contact-icons ion-icon {
  font-size: 250%;
  padding: 10px;
}
.project-photo {
  width: 100%;
  height: 150%;
}

.footer {
  margin-top: 16em;
  font-size: 80%;
}
#contact {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.project-links ion-icon {
  padding: 0px 10px;
}

@media (min-width: 50em) {
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
  .split > * + * {
    margin-left: 1em;
  }
  .skills {
    flex-direction: row;
  }
  .skills-col {
    width: 250px;
    padding: 25px;
  }
  ion-icon {
    font-size: 300%;
  }
  .project-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .project-description {
    background-color: var(--clr-primary-500);
    padding: 25px 30px;
    border-radius: 5px;
    text-align: right;
    min-width: 100%;
    max-height: 100%;
    z-index: 2;
  }
  img {
    max-width: 125%;
    min-height: 100%;
  }

  .project-video {
    width: 125%;
    height: 100%;
  }
  .project-image-div {
    width: 691.875px;
    height: 407.031px;
  }
  h1 {
    font-size: 400%;
  }
  .hero-text {
    top: 30vh;
  }
  nav {
    padding-top: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  nav a {
    margin: 0px 20px;
  }
  nav a:link,
  nav a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }
  nav a:hover,
  nav a:active {
    border-bottom: 2px solid #64ffda;
    color: #64ffda;
  }
  .project-image {
    content: '';
    opacity: 0.8;
    cursor: pointer;
    transition: transform 0.7s opacity 0.5s;
    mix-blend-mode: screen;
  }
  .project-image:hover {
    z-index: 999;
    opacity: 1.4;
  }
  .narrow {
    width: 40em;
    margin: 0 auto;
  }
  .link-highlight:link,
  .link-highlight:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
  }
  .link-highlight:hover,
  .link-highlight:active {
    color: #64ffda;
  }
}

@media (min-width: 62.5em) and (max-width: 75em) {
  .project-description {
    min-width: 125%;
  }
  img {
    min-height: 100%;
  }
  .project-video {
    width: 125%;
    height: 100%;
  }
}
@media (min-width: 50em) and (max-width: 62.5em) {
  .project-description {
    min-width: 150%;
  }
  img {
    min-height: 150%;
    min-width: 150%;
  }
  .project-video {
    width: 150%;
    height: 100%;
  }
}

.text-center {
  text-align: center;
}
#hero {
  padding: 0px;
}

nav {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--clr-neutral-100);
}

ion-icon {
  font-size: 150%;
}
